section#footer {
  padding: rem-calc(24) 0;
	background-color: $lightgray;
  position:fixed;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;

	a {padding-left: 0;}
  ul#menu-footer {
    li, li a {
      font-size: rem-calc(24);
      color: $black;
    }
    .active a {
      background: transparent;
      color: $lightgray;
    }
  }

	p, a {
    color: $black;
    font-size: rem-calc(14);
    padding-top: 0 !important;
  }
	p.copyright a {
    color: $blue;
    text-decoration: underline;
  }
	a:hover {color: $lightgray;}
	a svg.social, svg.social {
  	fill: $white;
  	width: 30px;
  	height: 30px;
	}
}
