#roll-into-summer {
  background-position: center top;
  background-size: cover;
  height: 100vh;
  min-height: 750px;
  .inner {
    height: 100%;
    padding: 100px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  h1 {
    color: white;
    font-weight: 700;
    letter-spacing: normal;
    margin: 0;
    .border {
      border-top: 3px solid white;
      width: 97%;
      margin: 0 auto;
    }
    .title {
      color: $gold;
      background: none;
      font-size: rem-calc(96);
      line-height: 1.1em;
    }
    .subtitle {
      font-size: rem-calc(69.6);
      line-height: 1.1em;
    }
  }
  .offers {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    .offer {
      padding: 5px 50px;
      border-left: 3px solid white;
      color: white;
      text-align: center;
      letter-spacing: normal;
      &:first-child {
        border-left: 0 none;
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      .amount {
        font-size: rem-calc(56);
        font-weight: 700;
        line-height: 1em;
      }
      .what {
        font-size: rem-calc(24);
        font-weight: 400;
        line-height: 1em;
      }
    }
  }
  .button {
    background: $brightgreen none;
    font-weight: bold;
    font-size: rem-calc(24);
    padding: 0.75rem 1rem;
  }
  @include breakpoint(medium down) {
    min-height: 830px;
    .inner {
      padding-top: 50px;
    }
    .offers {
      .offer {
        border: 0 none;
        margin-bottom: 5px;
        flex-basis: 100%;
        padding: 0;
      }
    }
  }
  @include breakpoint(small only) {
    min-height: 500px;
    .inner {
      padding-top: 0;
      > div {
        width: 100%;
      }
    }
    h1 {
      padding: 0;
      display: block;
      width: 100%;
      text-align: center;
      .title {
        background-color: white;
        margin: 0 -20px;
        font-size: 15.75vw;
      }
      .border {
        display: none;
      }
      .subtitle {
        font-size: 11.25vw;
      }
    }
  }
}
