body.home {
  #content {
    padding: rem-calc(50) 0;
    a img {
      transition: all 0.5s ease;
      filter: opacity(1);
    }
	  a img:hover {
  		filter: opacity(0.85);
  		transform: scale(1.05);
		}
    h2 {
      font-size:  rem-calc(50);
      text-transform: uppercase;
      margin-bottom: rem-calc(12);
    }
    h2 ~ p {
      text-align: justify;
  	}
  }
  hr {
  	border-top: 1px solid $lightgray;
  	width: 75%;
	}
  [data-scroll] {
    transition: all 1s ease;
  }
  [data-scroll="in"] .boxleft img , [data-scroll="in"] .boxright img {
    opacity: calc(var(--visible-y) * var(--visible-y));
  }
  [data-scroll="out"] {
    opacity: 0;
  }
}
