.sticky-container {
  width: 100%;
  z-index: 450;
	.navigation {
		z-index: 500;
    @include breakpoint(small only) {
      background: transparent;
      .title-bar {
        min-height: 75px;
      }
    }
    @include breakpoint(medium) {
      background: rgb(0,0,0);
      background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(77,77,77,1) 50%, rgba(0,0,0,1) 100%);
      min-height: 75px;
      padding: rem-calc(24) 0;
    }

    cart-item-info a, span.cart-item-count {
  		color: $white;
    }
		.is-stuck img {
  		transform: scale(0.8);
    }
    .logo a {
      font-size: rem-calc(40);
      color: $white;
        span:first-of-type {
          color: $green;
          font-weight: 600;
        }
        span:last-of-type {
          font-size: rem-calc(24);
        }
    }
    a.cart-contents, i {
      color: $white;
      span {margin-right: rem-calc(14);}
    }
  	/*small only */
  	.site-title-bar {
  		background-color: $black;
  		padding: rem-calc(12) 0 !important;
  		background-color: $black;
  		position: relative;
  		z-index: 155;
  	}
    .top-bar ul {
    	background-color: $black;
    	li, li a, a {
      	color: $white;
        &:hover {
          color: $green;
        }
    	}
  	}
  }

	h2, h2 a {color: $black; font-size: rem-calc(36); text-transform: none; font-weight: 200; letter-spacing: rem-calc(2); margin: rem-calc(14) 0 0 0; border-bottom: none;}
	p, p a {font-size: rem-calc(14); font-weight: 400; padding-top: rem-calc(8); margin-bottom: rem-calc(10); color: $black;}


	@include breakpoint(small) {
		h2, h2 a {font-size: rem-calc(28);}
		button.menu-icon {margin-top: rem-calc(20);}
		.drilldown li a.cart img {width:20px; height: 20px; margin-right: rem-calc(14);
			.is-drilldown-submenu-parent > a::after {border-color: transparent transparent transparent #000000;}
			.js-drilldown-back > a::before { border-color: transparent $black transparent transparent;}
		}
		a {color: $black;}
	}

	/*medium only */
	@include breakpoint(medium only) {
		h2, h2 a {font-size: rem-calc(30);}
		p, p a {font-size: rem-calc(12);}
	}
	#menu.top-bar {
    background-color: transparent;
    padding: 0;

    .drilldown a {
      background: transparent;
    }
		  ul {
        background-color: rgba($black, 0.0);
        position: relative;
        z-index: 10;

			  li, li a, li a:first-child {
          font-size: rem-calc(18);
          border: none;
          margin-left: 0;
          float: left;
          color: $white;
          text-decoration: none;
          font-weight: 600;

        }
        li a:first-child {
          &::after {
            content: " | ";
            color: $green;
            margin-left: rem-calc(20);
          }
        }
			  li a.cart img {
          float: left;
          width: 20px;
          height: 20px;
          margin-right: rem-calc(16);
          position: relative;
          bottom: 3px;
        }
			  li a.cart img span.image-title {
          float: left;
        }
			  li.active, li.current, li.active a:first-child, li.current a:first-child {
          background: none;
          color: $white;
        }
	 		li :nth-of-type(5) a {
         padding-right: 0;
         &::after {
           content: " ";
         }
       }
			li a {
        border-right: 1px solid $green;
        margin-bottom: 3px;
        border-left: none;
      }
			li a:hover {
        color: $darkgray;
      }
			li a.first {
        border-left: none;
        padding-left: 0;
      }
			li a.last {
        border-left: none;
        padding-right: 0;
        position: relative;
        bottom: 3px;
      }
		}
		.menu .is-active > a {
      background: transparent;
      color: $lightgray;
    }
		@media screen and (min-width: 40em) and (max-width: 63.9375em) {
			margin-top: 0;
			ul {
				li, li a, li a:first-child {font-size: rem-calc(12);}
			}
		}
	}
}
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .top-bar-left {
      display: none;
    }
  }
}
