body.term-foils,
body.term-fins,
body.term-boards,
body.term-wake-skim,
body.term-wake-surf-boards,
body.term-wake-surf,
body.term-wake-surf-foil,
body.term-pump-foil,
body.term-prone-foil,
body.term-sup-wind-wing,
body.term-accessories,
body.single-product,
body.term-wind-wings,
body.term-wing-foil-boards,
body.page-template {
	section#content {
			position: relative;
			h2 {
        font-size: rem-calc(40);
        color: $gray;
        background-position: center;
        background: no-repeat;
					p {
            font-size: rem-calc(38);  color: $white;
      etsaow: 0px 0px 4px rgba(0, 0, 0, 0.95);
						a {
              color: $white; transition: all 0.3s ease;
              opacity: 1;
            }
						a:hover	{
              color: $lightgray; text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.55);
            }
					}
				}
			}
	form.controls.grid-container {
    background-color: rgba($lightgray, 0.5);
    padding: rem-calc(12);
    border-radius: 8px;
		.mixitup-control-active {
      background-color: $mediumgray;
    }
		button.control-group:first-of-type {
      border-radius: 3px 0 0 3px;
    }
		button.control-group:last-of-type {
      border-radius: 0 3px 3px 0;
    }
		fieldset.control-group {
      border: 0px;
    }
	}
	.mix {
  	a img {
    	align-items: center;
    	display: flex;
  	  margin: 0 auto;
    }
	}
  .product {
    p.price, span.price {
      color: $black;
      font-size: rem-calc(20);
      font-weight: bold;
      del {
        color: $red;
        margin-right: rem-calc(18);
      }
    }
    span.price {margin: 0 rem-calc(24); padding-top: rem-calc(18);}
    .woocommerce-variation .single_variation {
      width: 33.3333%;
    }
    a.button, button.button {
      background-color: $blue;
			text-transform: uppercase;
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			transform: perspective(1px) translateZ(0);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			position: relative;
			border: 1px solid $blue;
			color: $white;
			transition-duration: 0.3s;
			transition-property: transform;
			padding: rem-calc(10) rem-calc(12);
			font-weight: bold;
		}
		a.button::before, button.button::before {
			background-color: $white;
			pointer-events: none;
			position: absolute;
      padding: 0;
			z-index: -1;
			content: '';
			top: 100%;
			left: 5%;
			height: 10px;
			width: 90%;
			opacity: 0;
			background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
			transition-duration: 0.3s;
			transition-property: transform, opacity;
		}
    a.button:hover, button.button:hover {
      transform: translateY(-5px);
      background-color: $white;
      color: $blue;
    }
    a.button:hover::before, button.button:hover::before {
      opacity: 1;
      transform: translateY(5px);
    }
    p > button.button.hollow {
      background-color: transparent;
      border-color: rgba($black, 0.35);
      color: rgba($black, 0.35);
    }
    p > button.button.hollow::before {
      background: none;
      transform: none;
    }
  }
	.input-mini {
    border: 0px;
    box-shadow: 0 0 0 0;
    margin: 0 rem-calc(24) 0 0;
    font-size: rem-calc(18);
  }
	.button {margin-bottom: 0; }
	h1 {color: $gray;}
	h3, h4 {font-size: rem-calc(30); color: $gray; margin-top: rem-calc(24); font-weight: light;}
	h4 {font-size: rem-calc(40); border-bottom: 1px solid $mediumgray;}
  table.variations {
    tbody {
      border: 0px;
      td.label {
        width: 30%;
        vertical-align: top;
        padding-top: 0;

        label {
          font-weight: bold;
          text-transform: uppercase;
          border-bottom: 1px solid $lightgray;
          padding-top: rem-calc(6);
        }
      }
      td.value {
        width: 30%;
        padding-top: 0;
      }
    }
  }
  select, input {
    border-radius: 5px;
    vertical-align: top;
  }
  .woocommerce-variation,-variation-add-to-cart {
    float: left;
  }
	section.specs {
		position: relative;
		margin-top: rem-calc(50);
		table {
				font-size: rem-calc(14);
				margin: rem-calc(12) 0 rem-calc(36);
				thead {
  				border-top: 0px;
  				border-left: 0px;
  				border-right: 0px;
  				color: $black;
  				background-color: $white;
					tr th {
  					text-align: center;
  					text-transform: uppercase;
  					font-weight: bold;
  					border-right: 1px solid $lightgray;
  					vertical-align: bottom;
  				}
  				tr th:first-of-type {border-right: 0px;}
					tr th:last-of-type {border-right: 0px;}
				}
				tbody {border: 0px;background-color: rgba($white, 0.5); color: $black;
					tr {border: 0px; border-bottom: 1px solid $lightgray;
						td {border-right: 1px solid $lightgray; text-align: center;}
						td:last-of-type {border-right: 0px;}
					}
					tr:nth-child(2n) {background-color: transparent;}
					tr:last-of-type {background-color: transparent; border-bottom: 0px;}
				}
			}
		p {text-transform: uppercase; margin-bottom: 0; /* border-bottom: 1px solid $mediumgray; */ opacity: 1; color: $black;}
	}
	section.specs.background-image::before {
		overflow: hidden;
	  background: linear-gradient(to bottom, rgba($black, 0.85) 0, rgba($black, 0) 100%);
	}
	.backgroundimage::before {
			position: absolute;
			left: 0;
			right: 0;
			top: -16px;
			z-index: 10;
			height: 35px;
			content: url('/images/slideshow-top-image.png');
			background-size: auto 9px;
			overflow: hidden;
		}
	.backgroundimage {
		  content: ' ';
		  position: relative;
		  width: 100%;
		  left: 0;
		  right: 0;
		  top: 0;
		  bottom: 0;
		  background-color: rgba($black, 0.5);
		  background-size: cover;
		  .text {
			  opacity: 1 !important;
		  }
		  	p strong {color: $white;}
		}
	.backgroundimage::after {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		height: 19px;
		content: url('/images/slideshow-bottom-image.png');
		background-size: auto 9px;
		overflow: hidden;
	}
	.image::before {
    background: linear-gradient(to bottom, rgba($black, 0.85) 0, rgba($black, 0) 100%);
  }
	.image {
		  background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			p {text-transform: uppercase; margin-bottom: 0; border-bottom: 1px solid $lightgray; opacity: 1; color: $white; }
			table {
				font-size: rem-calc(14);
				margin: rem-calc(12) 0 rem-calc(36);
				thead {background-color: rgba($white, 0.5); border-top: 0px; border-left: 0px; border-right: 0px; color: $black;
					tr th {text-align: center; text-transform: uppercase; font-weight: bold;  border-right: 1px solid $lightgray;}
					tr th:last-of-type {border-right: 0px;}
				}
				tbody {border: 0px;background-color: rgba($white, 0.5); color: $black;
					tr {border: 0px;
						td {border-right: 1px solid $lightgray; text-align: center;}
						td:last-of-type {border-right: 0px;}
					}
					tr:last-of-type {background-color: transparent; border-bottom: 0px;}
				}
			}
		}
	.package, .usage {
  	margin-top: rem-calc(50);
		h4 {font-size: rem-calc(19); text-transform: uppercase; border-bottom: 1px solid $lightgray;}
		h5 {font-size: rem-calc(21); border-bottom: 1px solid $lightgray;}
		p {border-bottom: 0;}
	}
	section.construction,
  section.features {
 		ol {
			list-style: none;
				li {
					counter-increment: step-counter;
					margin-bottom: 5px;
					color: $black;
				}
				li::before {
				content: counter(step-counter);
				background: $black;
				border-radius: 100%;
				border-color: 1px solid $white;
				color: $white;
				font-weight: bold;
				width: rem-calc(24);
				text-align: center;
				display: inline-block;
				margin-right: rem-calc(10);
			}
		}
 		ol.bottom {
			counter-reset: bottomfeatures 3;
			li::before {
				counter-increment: bottomfeatures;
				content: counter(bottomfeatures);
				background: $black;
				border-radius: 100%;
				border-color: 1px solid $white;
				color: $white;
				font-weight: bold;
				width: rem-calc(24);
				text-align: center;
				display: inline-block;
				margin-right: rem-calc(10);
			}
		}
	}
	section.features {
		ol li {color: $darkgray;}
		.featuresblock {background-color: $lightgray;}
	}
	section.construction {
		position: relative;
		margin: 0 0 rem-calc(50); padding: rem-calc(25) 0 rem-calc(50); background: $lightgray;
		.grid-container {
			margin-top: rem-calc(50);
		}
		.exploded img {
  		opacity: calc(var(--visible-y) * var(--visible-y));
		}
		[data-scroll] {
      transition: all 1s ease;
      will-change: transform, scale, opacity;
      transform: translateY(6rem) scale(0.93);
    }
    [data-scroll="in"] .exploded img {
      opacity: 1;
      transform: translateY(12rem) scale(1);
    }
    [data-scroll="out"] {
      opacity: 0;
    }
	}
	section.construction::before {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		height: 25px;
		content: url('/images/slideshow-top-image.png');
		background-size: auto 19px;
		overflow: hidden;
}
	section.features {
		position: relative;
    background-color: $white;
    padding: rem-calc(50) 0 rem-calc(75);
	}
}
body.boards.wake {
	section.specs {
		p {color: $black; border-bottom-color: $lightgray;}
	}
}
body.fins {
 section.specs .features,
 section.specs .usage {
	 h5 {font-size: rem-calc(21);border-bottom: 1px solid $lightgray;}
	 p {color: $black; border-bottom: 0px; text-transform: none;}
 }
}
body.boards.surf {
	section.specs {
		p {color: $black;}
	}
}
body.foils section.foils h5 {
  border-bottom: 1px solid $lightgray;
}
.gray {background-color: $gray;}
.darkgray {background-color: $darkgray;}
.reveal {
  width: 1000px;
	@include breakpoint(medium only) {
		width:800px;
		}
}

body.wind-wings {
  #slideshow {
    .orbit-controls {
      button.orbit-previous, button.orbit-next {
        color: $black;
      }
    }
  }
  section.specs {
    margin-top: rem-calc(50);
      	ul {
    	list-style-type: none;
  	}
  }
  section#WingFeatures {
    h3 {
      font-weight: 700;
      border-bottom: 1px solid $lightgray;
      margin-bottom: rem-calc(24);
    }
    .grid-x.large-up-3 {
      display: flex;
    }
    .grid-x.large-up-3.cell:nth-of-type(odd) {
      flex-direction: row-reverse;
      @include breakpoint(small only) {
        flex-direction: row;}
    }
  }
}
body.tax-product_cat {
  .product {
    p.price, span.price {
      text-align: center !important;
      del {color: $red; opacity: 1; font-size: rem-calc(18);}
    }
  }
}
