body,
body.home {
  background-color: $white;
  h1 {
    font-size: rem-calc(32);
    letter-spacing: rem-calc(2);
    color: $green;
    font-weight: 300;
  }
  h2 {
    font-size: rem-calc(22);
  }
  h3 {
    font-size: rem-calc(18);
  }
  h4 {
    font-size: rem-calc(16);
  }
  p {
    font-size: rem-calc(16);
    line-height: rem-calc(28);
  }

	section.crumbs {
  	margin-top: rem-calc(35);
  	p#breadcrumbs {
    	span {
      	font-size: rem-calc(12);

        color: $black;
        text-transform: uppercase;
        a {
          color: $blue;
          padding: 0 rem-calc(14);
        }
        span.breadcrumb_last {
          padding-left: rem-calc(14);
        }
    	}
  	}
	}
	.spacer {min-height: 25px;}
	.doublespacer {min-height: 50px;}
	.radius {border-radius: 3px;}

	.cart-item-count {
		background: none; color: $black; display: flex;
		font-size: rem-calc(16);
		position: relative;
		bottom: 14px;
	}
	.red {color: $red;}

#slideshow {
  position: relative;
  z-index: 100;
  padding: rem-calc(50) 0;
  background-color: $green;
  background: linear-gradient(90deg, rgba(171,190,10,1) 0%, rgba(200,218,52,1) 50%, rgba(171,190,10,1) 100%);
  min-height: 400px;

  nav.orbit-bullets > button {
    margin-bottom: rem-calc(16);
  }
}
}
.woocommerce-notices-wrapper {
  position: relative;
  z-index: 200;
}
article {
  margin-bottom: rem-calc(75);
}
