 #slideshow {
	  position: relative;
	  z-index: 100;
    background-color: $green;
    border: 5px solid $white;
    background: linear-gradient(90deg, rgba(171,190,10,1) 0%, rgba(200,218,52,1) 50%, rgba(171,190,10,1) 100%);
    min-height: 400px;

    nav.orbit-bullets > button {
      margin-bottom: rem-calc(16);
    }
  }
}
