body.store,
body.cart,
body.single-product,
.woocommerce-cart {
  label {
    color: $green;
    margin-bottom: rem-calc(19);
    text-transform: uppercase;
  }
	input[type="text"] {
    height: 30px;
    width: 35%;
    padding: rem-calc(16);
    background-color: $lightgray;


  }
  input:hover {
    background-color: $lightgray;
  }
	del {color: $red;}
	table.shop_table_responsive, table.cart {
		border: hidden;
		thead  {
			border-top: 0px solid $white;
			background: $white;
			tr th {text-align: center;}
			tr th:first-of-type {text-align: left;}
			tr th:nth-child(2) {border-left:0; border-right: 0;}
			tr th:nth-child(3) {border-left:0; border-right: 0;}
		}
		tbody {
			tr:nth-of-type(2n) {background-color: $white;}
			tr td {text-align: center;}
			tr td:first-of-type {text-align: left;}
			tr td:nth-child(2), tr td:nth-child(3) {text-align: center;}
		}
    input {
      margin: 0 34%;
    }
	}
	.woocommerce a.button.alt {
  	background-color: $green !important;
  	opacity: 1;
  	transition: 1s;
	}
	.woocommerce a.button.alt:hover {
  	background-color: $medium-gray;
  	opacity: 0.5;
	}
}

// Checkout specific styles 

body.woocommerce-checkout {
  .woocommerce .woocommerce-info {
    display: none;
  }
  #payment {
    background-color: $white !important;
    .payment_box {
      background-color: $lightgray;
    }
    .payment_box::before {
      border-bottom-color: $lightgray;
    }
    ul.payment_methods {
      border: 1px solid $medium-gray;
      li.wc_payment_method  {
        margin-top: rem-calc(22);
      }
    }
  }
  button.cclwminus, button.cclwplus {
    background: $blue;
  }
  table.shop_table {
    border: transparent;
    thead, tfoot {background: $white;}
    tbody {background-color: $white;}
  }
  
}

/* for alerts on adding to cart */
body.woocommerce-page {
  .woocommerce-message {
    border-top: 10px solid $success-color;
  }
}
